/* -----------------------------------------------------
 * Configuração Geral
 * ----------------------------------------------------- */
* {
    font-family: "JetBrains Mono Nerd Font", "Fira Sans Semibold", sans-serif;
    background-image: none;
    transition: 20ms;
    box-shadow: none;
}

window {
    /* Removemos a imagem de fundo quebrada e usamos cor translúcida */
    /* Isso permite que o BLUR do Hyprland que configuramos antes funcione */
    background-color: rgba(12, 12, 12, 0.5);
}

button {
    color: #FFFFFF;
    font-size: 20px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;

    border-style: solid;
    background-color: rgba(14, 13, 01, 0.7);
    border: 3px solid #E5E7E6;

    /* Sombra nos botões */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Efeito ao passar o mouse ou focar */
button:focus,
button:active,
button:hover {
    color: #E5E7E6; 
    background-color: rgba(47, 46, 46, 0.8);
    border: 3px solid #e8ebf1; /* Borda muda de cor */
    animation: gradient_f 20s ease-in infinite;
}

/* ----------------------------------------------------- 
Mapeamento dos Ícones (Caminhos Absolutos)
----------------------------------------------------- 
*/

#lock {
    margin: 30px;
    border-radius: 5px;
    background-image: image(url("/home/renxn/.config/wlogout/icons/lock.png"));
}

#logout {
    margin: 30px;
    border-radius: 5px;
    background-image: image(url("/home/renxn/.config/wlogout/icons/logout.png"));
}

#suspend {
    margin: 30px;
    border-radius: 5px;
    background-image: image(url("/home/renxn/.config/wlogout/icons/suspend.png"));
}

#hibernate {
    margin: 30px;
    border-radius: 5px;
    background-image: image(url("/home/renxn/.config/wlogout/icons/hibernate.png"));
}

#shutdown {
    margin: 30px;
    border-radius: 5px;
    background-image: image(url("/home/renxn/.config/wlogout/icons/shutdown.png"));
}

#reboot {
    margin: 30px;
    border-radius: 5px;
    background-image: image(url("/home/renxn/.config/wlogout/icons/reboot.png"));
}
